:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #191022;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}



/* Estilos dos componentes */

/* .DpFUrSpAcBmMLOINasFh {
  background-color: #160624 !important; 
  color: #fff !important;
} */

.MoYxgFm0R7wfd5xpwIir {
  background-color: #20162b !important;
}

.lRNsiz_pTf7YmA5QMh4z {
  background-color: #191122 !important;
}

.D9WLyEQaARfWqCTyVrpU {
  box-shadow: none !important;
  border: none !important;
  background: #1d0830 !important;
}

._M8cCug8H18ALQ05cNMt {
  color: #fff !important;
}

.sJcgXLqA2Va2eqymgksg {
  background: #150821 !important;
}

.VNZilENM9Pb7KbRFOkYR {
  background: #1a1a1a7c !important;
}

.VNZilENM9Pb7KbRFOkYR .rfwQfzz6DVBVPNyQIs9o h3 {
  color: #fff !important;
}

.Ym5tIpCMz8al_AZ4Lk5y {
  background: #ffffff45 !important;
}

.GBqD5akUB0siCNWbAPQr {
  background: #200d30 !important;
}

.sCsSbKP9yxvw4LQAeaTz {
  background: none !important;
}

.ji5jASszKFf2CGCmbxEh {
  background: #160624 !important;
}

.vjwEXnTmP6jAK8LlvWL_>div {
  background-color: #3b274e !important;

  &:hover {
    background-color: #5e4179 !important;
  }
}

.vjwEXnTmP6jAK8LlvWL_ .QeMJj1LEulq1ApqLHxuM {
  background-color: #e8543b !important;

  &:hover {
    background-color: #b83f2a !important;
  }
}

.l6MeDXnwNx_61s2SCcpb {
  background-color: #160624 !important;
  border-color: #31144b !important;
}

.l6MeDXnwNx_61s2SCcpb::after {
  background-color: #160624 !important;
  border-color: #31144b !important;
}

.l6MeDXnwNx_61s2SCcpb>div:hover {
  background-color: #341351 !important;
}

.JtRS8dNV0vDLnpBoA6kZ>div {
  background-color: #3b274e !important;

  &:hover {
    background-color: #5e4179 !important;
  }
}

.M4HRY2n7rpNAd1UjDNZe {
  background: #200D30 !important;
}

.IwZOSgDXLFSgH8L1UBdn {
  background: #200D30 !important;
}

.nBWwl6VwTRoZfXN7bSSA:hover {
  background: #421f5f !important;
}

.hkGTFmd1GeMzMEf8vNW_ .T89FjqHm_Mbbi9RhEqd7.gpv5QjvvMwy1oI5RWxvn:hover {
  background-color: #381f4f6a !important;
}

.xM8CBkrn0wtFOdOP84Bb input {
  background-color: #381f4f6a !important;
}

.bgpkEUtMj48JGNZfveOf {
  background-color: #381f4f6a !important;
}

.j9ygOVxEl2nClTPs77Ta {
  background-color: #191022 !important;
}